importFrom ("graphics", "contour", "lines", "par", "plot", "points")
importFrom ("barsurf", "plot3d.bar", "plot3d.surf")
importFrom ("stats", "lm.wfit", "rnorm", "sd", "var")
exportPattern("^[^\\.]")
S3method(plot, epdfuv)
S3method(plot, ecdfuv)
S3method(plot, ecdfuv.inverse)
S3method(plot, epdfmv)
S3method(plot, ecdfmv)
S3method(lines, epdfuv)
S3method(lines, ecdfuv)
S3method(lines, ecdfuv.inverse)
