importFrom ("graphics", "lines", "plot", "points")
importFrom ("stats", "sd", "rnorm")
exportPattern("^[^\\.]")
S3method(print, euvpdf)
S3method(print, euvcdf)
S3method(print, euvcdf.inverse)
S3method(plot, euvpdf)
S3method(plot, euvcdf)
S3method(plot, euvcdf.inverse)
